<!DOCTYPE html>
<html lang="en" ng-app="javu">
<!--<html lang="en" manifest="controlpanel.appcache">-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="javu.io skeleton">
    <meta name="author" content="javu.io">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Control Panel</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--<script type="javascript" src="/scripts/lib/bootstrap.min.js" ></script>-->

    <!--Core CSS -->
    <!-- Custom styles for this template -->
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/style-responsive.css" rel="stylesheet" />

</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="index.html" class="logo"><img src="images/logoWhite.png" /></a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>

            <!--logo end-->
            <div class="nav notify-row" id="top_menu" style="margin-top:0 !important;" >
                <h1 id="pageTitle"></h1>
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu" ng-controller="profileCtrl">
                    <!-- user login dropdown start-->
                    <li id="ddlUserProfile" class="dropdown" >
                        <a id="aProfileMenu" data-toggle="dropdown" class="dropdown-toggle" href="" aria-expanded="true">
                            <img alt="" src="images/avatar1_small.jpg">
                            <span id="currentUserName">{{user.username}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="profileMenuItems" class="dropdown-menu extended logout" role="menu" aria-labelledby="aProfileMenu">
                            <li><a role="menuitem" href="#profile" tabindex="-1">Profile</a></li>
                            <li><a id="profileLogout" role="menuitem" tabindex="-1" href="" ng-click="logout()" >Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse" ng-controller="menuCtrl">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li ng-repeat="page in pages" ><a href='#/{{page.hash}}' class="{{page.className}}" ><i/>{{page.title}}</a></li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section id="pageContent" class="wrapper">
                <div class="row">
                    <div role="alert"></div>
                    <div ng-view id="dynamicContentContainer" class="col-sm-12" >
                        <span id="sLoadingDC" class="floatingText"></span>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
        <div id="div-loading" class="row div-loading" style="display: none">Please wait...</div>
    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--common script init for all pages-->

    <script type="text/javascript" src="/scripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/lib/ui-bootstrap-0.9.0.min.js"></script>
    <script>
        var $javuApp = angular.module('javu',['ngRoute','ui.bootstrap']);
    </script>

    <!-- Page JS -->
    <script type="text/javascript" src="routes.js"></script>
    <script type="text/javascript" src="/scripts/framework/authManager.js"></script>
    <script src="/scripts/framework/httpSecurityInterceptor.js"></script>
    <script type="text/javascript" src="/scripts/framework/uiManager.js"></script>

    <script type="text/javascript" src="/scripts/framework/profileCtrl.js"></script>

    <script type="text/javascript" src="/scripts/lib/dateTimeFormater.js"></script>

</body>
</html>